<div class="container-fluid">
    <div class="row-fluid">
        <div class="span3">
            <div class="well sidebar-nav">
                <ul class="nav nav-list">
                    <li class="nav-header">Projects</li>
                    {{#each this}}
                    <li><a href="#project-detail/{{id}}/">{{name}}</a></li>
                    {{/each}}
                </ul>
            </div>
        </div>
        <div class="span9 detail-container">
            foobar
        </div>
    </div>
</div>
