<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>Deployer</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link href='//fonts.googleapis.com/css?family=Noto+Sans:400,700' rel='stylesheet' type='text/css'>
<link href="/static/style.min.css" media="screen" rel="stylesheet" type="text/css" />

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#">
        Deployer
      </a>
    </div>
  </div>
</div>

<div class="container" id="page_body">
</div> <!-- /container -->
<hr>

<footer>
  <p>&copy; Company 2013</p>
</footer>


<script src="/static/vendor.min.js"></script>
<script src="/static/app.min.js" charset="utf-8"></script>

</body>
</html>
